.tweet-box {
  background: linear-gradient(to left, rgb(28, 30, 38), rgb(43, 45, 58));
  border-radius: 10px;
  display: flex;
  margin: 3vh 0;
  flex-direction: column;
  padding: 1em;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  color: white;
  font-weight: 800;
}

.tweet-box > form {
  display: flex;
  flex-direction: column;
}
.tweet-controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 3vh 0;
  align-items: center;
}